<h2>modifier le livre :</h2>
<form id="addForm">
    <div class="mb-3">
      <label for="title" class="form-label">Titre</label>
      <input type="text" class="form-control" id="title" #title  />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Auteur</label>
      <input type="text" class="form-control" id="author" #author />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Prix</label>
      <input type="number" class="form-control" id="price" #price />
    </div>
    <button 
        type="button" 
        id="btnValidAdd" 
        class="btn btn-primary" 
        (click)="modifyBook(Id,title.value, author.value, +price.value)">
            Valider
        </button>
  </form>